---
import type { GetStaticPaths } from "astro";
import Layout from "../../layout/Layout.astro";
import Picture from '../../components/Picture.astro'
import slugify from "../../js/slugify.js";

/* Formulario */
import NetliForm from "../../components/NetliForm.astro";

// Esta función solo es necesaria en caso de preRendered
export async function getStaticPaths() {
  const response = await fetch(
    "http://api.id.net.uy/wp-json/wp/v2/pages?slug=ufilms"
  );

  const getFilms = await response.json();
  const films = getFilms[0].acf.films;

  return films.map((flm) => {
    let slug: string;
    slug = slugify(flm.acfe_flexible_layout_title);

    return {
      params: {
        film: slug,
      },
    };
  });
}

const { film } = Astro.params;
// console.log(film)

const response = await fetch(
  "http://api.id.net.uy/wp-json/wp/v2/pages?slug=ufilms"
);

const getFilms = await response.json();
const films = getFilms[0].acf.films;

const currFilm = films.find(
  (flm) => slugify(flm.acfe_flexible_layout_title) == film
);

// console.log(currFilm)
---

<Layout
  title={currFilm.acfe_flexible_layout_title}
  claim="El nuevo framework de maquetación de sitios de I+D"
  description="El nuevo framework de maquetación de sitios de I+D"
>
  <div class="container row">
    <div class="col-[1/13] md:col-[1/6]">
      <h1 class="h1 mb-5">{currFilm.acfe_flexible_layout_title}</h1>
      <Fragment set:html={currFilm.intro_es}> </Fragment>
    </div>
    <div class="col-[1/13] md:col-[7/12]">
      <Picture url={currFilm.poster.url} />
    </div>
  </div>

  <div id="contacto" class="container row section">
    <div class="col-[1/13] md:col-[1/6]">
      <h2 class="h2">Contacto</h2>
    </div>
    <div class="col-[1/13] md:col-[7/12]">
      <NetliForm />
    </div>
  </div>

</Layout>
