header, .header{

    @apply 
       relative
       h-[8rem] xg:h-[10rem]
       py-2 md:py-3 z-[999];
       

}

header{

      [data-info="on"] &{
        display: none;
      }

}

.scroll-watcher{
    @apply fixed h-[.5rem] w-[0] top-0 left-0 z-[9999] bg-black transition-all;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to{
        width: 100%;
    }
}


.case, .password{

    header{
        position: fixed;
        top: 0;
        left: 0;
    }

}


@media (min-width: theme("screens.xg")) {

    [data-page="case"] header, 
    [data-page="pass"] header {
        @apply fixed top-0 left-0;
    }
    
  }
    