:root {
  --container-gap: 1.5rem;
  /* --column-gap: .5rem; */
}

html {
  font-size: var(--html);
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply text-body;
}

.row {
  @apply grid grid-cols-2 gap-[0.5rem] sm:grid-cols-6 md:grid-cols-12 md:gap-2;
}


/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XS ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width:theme("screens.xs") ) {
  :root {
    --container-gap: 2rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width:theme("screens.sm") ) {
  :root {
    --container-gap: 4rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 768px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.md")) {
    :root {
      --html: 11px;
    }
  }
   */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 992px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.xg") ) {
  :root {
    --container-gap: 3rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 1064px ////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xl")) {
  :root {
    --container-gap: 2%;
    /* --column-gap: 2rem; */
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 1280px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.2xl") ) {
  :root {
    --container-gap: 3.5%;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1536px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.3xl") ) {
  :root {
    --container-gap: 4%;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1920px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.4xl") ) {
  :root {
    --container-gap: 4%;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 2560px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.5xl") ) {
  :root {
    --container-gap: 10%;
  }
} */
