@font-face {
  font-family: "Helvetica";
  src: url("fonts/helveticanowdisplay-regular-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --html: 9px;
  --text-body:1.4rem;
  --line-height:1.4;
  --text-light:300;
  --text-normal:normal;
  --text-bold:bold;
} 

  html {
    font-size: var(--html);
  }
  
  body {
    font-size: var(--text-body);
    line-height: 1.3;
  }
  
  p {
    @apply text-pretty;
  }

  
  h1 {
    @apply text-balance leading-[1.1];
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// XS ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xs")) {
    :root {
      --html: 10px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// SM ////////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.sm")) {
    :root {
      --html: 11px;
    }
  }
  
/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {

  :root {
    --html:9px;
    --text-body:1.8rem;
  }
  
}
  
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// XL ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xl")) {
    :root {
      --html:7px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// 2XL ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.2xl")) {
    :root {
      --html:8px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// 3XL //////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.3xl")) {
    :root {
      --html:10px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// 4XL ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  /* @media (min-width: theme("screens.4xl")) {
    :root {
      --html:10px;
    }
  }
   */
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// 5XL //////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.5xl")) {
    :root {
      --html:13px;
    }
  }
  