---
// export const prerender = false;
import Layout from "../layout/Layout.astro";
---

<Layout
  title="AstroBox"
  claim="El nuevo framework de maquetación de sitios de I+D"
  description="El nuevo framework de maquetación de sitios de I+D"
>

<section class='container row section'>
 
    <div class='col-[1/13] xg:col-[1/6]'>
      <h1>Form. Follows. Function.</h1>
    </div>
 
    <div class='col-[1/13] xg:col-[6/11]'>
        <p>
          Martín Corbo is a graphic designer and art director known for his minimalistic and impactful designs. He focuses on creating timeless designs that cater to the specific needs and goals of each brand, helping them create enduring and memorable identities.
        </p>
    </div>
 
</section>


</Layout>
