---
// Obtiene la fecha y hora actual
let now = new Date();
// Establece la zona horaria a 'America/Montevideo' (Uruguay)
let options = { timeZone: 'America/Montevideo', hour12: true, hour: '2-digit', minute: '2-digit' };

// Obtiene la hora formateada en el formato deseado (12 horas con AM/PM)
let formattedTime = now.toLocaleTimeString('en-US', options );
---


<span class="time block h-fit">{formattedTime}</span>