---
const { items } = Astro.props;
import '@/css/layout/menu.css';
---
<nav>
    {
        items.map( item =>(
        <a href={ item[1] } class={ item[2] } data-astro-prefetch="hover" >
            { item[0] }
        </a>
        ) )
    }
</nav>